#chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
 
}

.line {
  fill: none;
  
  stroke: #1C7F1D;
  stroke-width: 2.5px;
}