{% extends "layout.html" %}
{% block title %}BitcoinBot{% endblock %}
 <!-- Custom Google Web Font -->
  

{% block body %}

<div>
<div id="lander">

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Bitcoin Bot</h1>
                        <h3>Easy to Use Automated Trading</h3>
                       
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           <!-- <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a> -->
                            </li>
                            <li> <a target="_blank" href="{{ url_for('register') }}"class="btn btn-default btn-lg"><img src="../static/img/dw.png"> <span class="network-name"><b>  Start Trading</b></span></a>
                            <!--</li>
                            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Bot Works For You!
                        </h2>
                    <p class="lead">Set the <b>trading parameters </b>and let your bot make money off the highs and lows. <a target="_blank" href="{{ url_for('dashboard') }}">Give it a try!</a></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/img/cat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Live Market Data
                        <br><b><u>Every 10 Seconds</u></b></h2>
                    <p class="lead">Receive and visualize live data from the BTC-E Exchange. Our graph automatically updates every 10 seconds with the value of Bitcoin, giving you instant access to the data that matters.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div id="chart" class="img-responsive"> </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Chose your Favorite Bot Type.
                       </h2>
                    <p class="lead">We offer a variety of bots with different behaviours that accomodate your appetite for risk. Easily switch between them at any time.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6"><br><br><br><br>
                    <div class="img-responsive">   <ul class="list-inline intro-social-buttons">
                           <li><a href="https://twitter.com/SBootstrap" class="btn btn-success btn-lg"> <span class="network-name">Moving Average</span></a> 
                            </li>
                            <li><a href="https://github.com/FrancescoA/BitcoinBot" class="btn btn-danger btn-lg"> <span class="network-name">Random</span></a>
                            <!--</li>
                            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Behind the Scenes</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                       
                        
                        <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

   
                    <p class="copyright text-muted small">Copyright &copy; BitcoinBot 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</div>
</div>
{% endblock %}
