{% extends "layout.html" %}
{% block title %}
    {{ g.user.username }}'s Dashboard
{% endblock %}
{% block body %}
  <h2 class=login>{{ self.title() }} </h2>
  {% if message.key %}
  <div> These are your API keys </div>
  <div>{{ message.key }}</div>
  <div>{{ message.secret }}</div>

  {% else %}
  <div class=login>
  <div id="key_form">
  <h4> Add your BTC-E API key before you can trade</h4>
    <form action="{{ url_for('add_key') }}" methodpost>
    <dl>
      <dt>Key
      <dd><input type=text name=key size=50 value="{{ request.form.key }}" >
      <dt>Secret
      <dd><input type=text name=secret size=50 value="{{ request.form.secret }}">
    </dl>
    <div class=actions><input type=submit value="Save"></div>
  </form>
  </div>

  </div>

  {% endif %}
  <form action="{{ url_for('bot')}}" method=post>
    <dl>
      <dt>Botname</dt>
      <dd><input type=text name="bot_name" value="{{ request.form.bot_name }}"></dd>

      <dt>Max Amount/Trade ($)</dt>
      <dd><input name="trade_amount" type=number></dd>

      <dt>Max Profit (%)</dt>
      <dd><input name="ceiling" type=number></dd>

      <dt>Max Loss (%)</dt>
      <dd><input name="floor" type=number></dd>

      <dt>Floor ($)</dt>
      <dd><input name="abs_floor" type=number></dd>

      <dt>Ceiling ($)</dt>
      <dd><input name="abs_ceiling" type=number></dd>

      <dt>Algorithm</dt>
      <select>
        <option value="random">Random</option>
        <option value="basic">Moving Average</option>
      </select>
    </dl>
  <button type="submit" class="btn btn-success">Add Bot</button>
  </form>


<div id="chart"> </div>



  



{% endblock %}
